.formTodo {
  width: 100%;
  background-color: $blue;
  display: flex;
  align-items: center;
  padding: .7em 1.3em;
  margin-bottom: 1.5em;
  border-radius: 3px;

  input {
    width: 90%;
  }

  button {
    margin-right: .5em;

    &:last-child {
      margin-right: 0;
    }
  }
}