.list {

  background-color: $blue;
  border-radius: 3px;
  margin-bottom: 3em;

  &__container {
    display: flex;
    align-items: center;
    padding: 1em 1.3em;
    border-bottom: 1px solid $blue2;
  }

  &__item--done {
    text-decoration: line-through;
    color: $blue2;

  }

  &__cross {
    margin-left: auto;
    
    &:hover {
      cursor: pointer;
    }
  }

  &__footer {
    padding: 1em 1.3em;
    color: $blue2;
    display: flex;
    justify-content: space-between;

    &--links {
      a {
        margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }



}

.h6 {
  text-align: center;
  color: $blue2;
}