$bg-color: hsl(235, 21%, 11%);
$bg-fade: 'linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)';
//Dark
$white: #fff;
$blue: hsl(235, 24%, 19%);
$blue2: hsl(233, 14%, 35%);

$font: 'Josefin Sans', sans-serif;